###########
# general #
###########
*.class
*.log
tmp/
#######
# vim #
#######
vim/backups
vim/view
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.vundles.local
vim/bundle
vim/bundle.disabled.*
vim/sessions
###############
# thunderbird #
###############
# Ignore thunderbird filters
thunderbird/msgFilterRules.*
# In general ignore thunderbird (not to be shared at github)
thunderbird/*
########
# bash #
########
bash/bash_aliases_priv
########
# etc  #
########
etc/*
##############
# local/bin  #
##############
local/bin/*
local/copy*
########
# PyPI #
########
pypirc
