[submodule "vim/vim/bundle/fugitive"]
	path = vim/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/tasklist"]
	path = vim/vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vim/vim/bundle/nerdcommenter"]
	path = vim/vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/vim/bundle/ctrlp"]
	path = vim/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/vim/bundle/delimit-mate"]
	path = vim/vim/bundle/delimit-mate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/vim/bundle/tagbar"]
	path = vim/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/gundo"]
	path = vim/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/vim/bundle/minbufexpl"]
	path = vim/vim/bundle/minbufexpl
	url = https://github.com/fholgado/minibufexpl.vim
[submodule "vim/vim/bundle/vimux"]
	path = vim/vim/bundle/vimux
	url = https://github.com/NickLaMuro/vimux
[submodule "gnome-terminal/gnome-terminal-colors-solarized"]
	path = gnome-terminal/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "gnome-terminal/base16-gnome-terminal"]
	path = gnome-terminal/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "vim/vim/bundle/colors-base16"]
	path = vim/vim/bundle/colors-base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/vim/bundle/vim-javascript"]
	path = vim/vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/vim/bundle/emmet-vim"]
	path = vim/vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/vim/bundle/vim-indent-guides"]
	path = vim/vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/vim/bundle/ultisnips"]
	path = vim/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/vim/bundle/vim-snippets"]
	path = vim/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/vim/bundle/syntastic"]
	path = vim/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-unimpaired"]
	path = vim/vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim/bundle/vim-repeat"]
	path = vim/vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/vim/bundle/salt-vim"]
	path = vim/vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "vim/vim/bundle/vim-jinja2-syntax"]
	path = vim/vim/bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim/vim/bundle/python-mode"]
	path = vim/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/vim/bundle/vim-scala"]
	path = vim/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
